 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(24, 24, 24);
}


/* nav */




 .black{
    width: 105px;
    background-color: black;
    position: absolute;
    height:882px ;
    left: 93.8%;
}

.blackk{
    width: 100px;
    background-color: black;
    height: 882px;
    position: absolute;
} 

.navbar{
    margin-left: 100px;
    height: 882px;
    width: 300px;
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    flex-direction: column; 
} 

.nav1 img{
    filter: invert(1);
    width: 30px;
    position: relative;
    top: 8px;
    right: 15px;
}

.nav2 img{
    filter: invert(1);
    width: 30px;
    position: relative;
    top: 10px;
    right: 15px;
}

.nav3 img{
    filter: invert(1);
    width: 30px;
    position: relative;
    top: 10px;
    right: 15px;
}

span{
    color: grey;
}
.yt{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 14px;        
}

.more{
    margin-left: 50px;
    margin-bottom: 14px;
    position: relative;
    top: 0px;
    filter: invert(1)
} 

.nav1 li{
    list-style: none;
    margin: auto;
    margin-left: 40px;
    padding: 4px;
    padding-bottom: 5px;
    

}

.nav2 li{
    list-style: none;
    margin: auto;
    margin-left: 40px;
    padding:4px;
}

.nav3 li{
    list-style: none;
    margin: auto;
    margin-left: 40px;
    padding: 4px;
}

.nav3 p{
    margin-top: 15px;
    font-weight: 900;
    color: grey;
}

/* NAVVVVV */






.line1 input{
    text-indent: 10px;
    font-size: 18px;
    width: 500px;
    height: 50px;
    position: relative;
    bottom: 870px;
    left: 550px;

}

.search{
    background-color: rgb(50, 50, 50);
    height: 50px;
    width: 60px;
    position: relative;
    bottom: 920px;
    left: 1050px;
}
